{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <h1 style="text-align:center">Listes des utilisateurs</h1>
                </header>

                <table class="table table-striped table-advance table-hover" id="user">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Avatar</th>
                            <th>actions</th>
                        </tr>
                        {% for utilisateur in utilisateurs %}
                        <tr>
                        <td>{{ utilisateur.id }}</td>
                        <td>{{ utilisateur.nom }}</td>
                        <td>{{ utilisateur.prenom }}</td>
                        <td>{{ utilisateur.email }}</td>
                        <td>{{ utilisateur.password }}</td>
                        <td>{{ utilisateur.avatar }}</td>
                        <td>
                          <div class="btn-group">
                            <a href="#" class="btn btn-danger delete-user" data-id={{utilisateur.id}}>Supprimer</a>
                            <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}" class="btn btn-warning">Modifier</a>
                          </div>
                        </td>
                        </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">no records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/main.js')}}"></script>  
    
{% endblock %}
