{% extends 'base.html.twig' %}

{% block title %}New Utilisateur{% endblock %}

{% block body %}
    <div class="row">
         <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                   <h1 style="text-align:center">Ajouter Utilisateur</h1>
                </header>
                <div class="panel-body">
                <div class="form">
                <form method="post">
                    <div class="form-group ">
                      <div class="col-lg-9 col-md-offset-2">
                        {{ include('utilisateur/_form.html.twig') }}
                      </div>
                    </div>
                    
                </form>
                </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}


