{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <h1 style="text-align:center">Listes des voyages</h1>
                </header>

                <table class="table table-striped table-advance table-hover" id="user">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <th>Destination</th>
                            <th>Date_depart</th>
                            <th>Date_arrive</th>
                            <th>utilisateur</th>
                            <th>actions</th>
                        </tr>
                         {% for monvoyage in monvoyages %}
                        <tr>
                            <td>{{ monvoyage.id }}</td>
                            <td>{{ monvoyage.destination.getNomPays() }}</td>
                            <td>{{ monvoyage.dateDepart ? monvoyage.dateDepart|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ monvoyage.dateArrive ? monvoyage.dateArrive|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ monvoyage.utilisateur }}</td>
                            <td>
                              <div class="btn-group">
                                <a href="#" class="btn btn-danger delete-monvoyage" data-id={{monvoyage.id}}>Supprimer</a>
                                <a href="{{ path('monvoyage_edit', {'id': monvoyage.id}) }}" class="btn btn-warning">Modifier</a>
                              </div>
                            </td>
                        </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">no records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/main.js')}}"></script>  
    
{% endblock %}
