
<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
	  <meta name="author" content="GeeksLabs">
	  <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
	  <link rel="shortcut icon" href="img/favicon.png">

	  <title>Travelkit</title>


	  <!-- Bootstrap CSS -->
	  <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
	  <!-- bootstrap theme -->
	  <link href="{{asset('css/bootstrap-theme.css')}}" rel="stylesheet">
	  <!--external css-->
	  <!-- font icon -->
	  <link href="{{asset('css/elegant-icons-style.css')}}" rel="stylesheet" />
	  <link href="{{asset('css/font-awesome.min.css')}}" rel="stylesheet" />
	  <!-- full calendar css-->
	  <link href="{{asset('assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css')}}" rel="stylesheet" />
	  <link href="{{asset('assets/fullcalendar/fullcalendar/fullcalendar.css')}}" rel="stylesheet" />
	  <!-- easy pie chart-->
	  <link href="{{asset('assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css')}}" rel="stylesheet" type="text/css" media="screen" />
	  <!-- owl carousel -->
	  <link rel="stylesheet" href="{{asset('css/owl.carousel.css')}}" type="text/css">
	  <link href="{{asset('css/jquery-jvectormap-1.2.2.css')}}" rel="stylesheet">
	  <!-- Custom styles -->
	  <link rel="stylesheet" href="{{asset('css/fullcalendar.css')}}">
	  <link href="{{asset('css/widgets.css')}}" rel="stylesheet">
	  <link href="{{asset('css/style.css')}}" rel="stylesheet">
	  <link href="{{asset('css/style-responsive.css')}}" rel="stylesheet" />
	  <link href="{{asset('css/xcharts.min.css')}}" rel=" stylesheet">
	  <link href="{{asset('css/jquery-ui-1.10.4.min.css')}}" rel="stylesheet">
	  <!-- =======================================================
	    Theme Name: NiceAdmin
	    Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
	    Author: BootstrapMade
	    Author URL: https://bootstrapmade.com
	  ======================================================= -->
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    </head>
    <body>
      
    	<section id="container" class="">


    <header class="header dark-bg">
      <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
      </div>

      <!--logo start-->
      <a href="index.html" class="logo">Travel <span class="lite">Kit</span></a>
     
      <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                
                            </span>
                            <span class="username">
                              
                            </span>
                            <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
              <div class="log-arrow-up"></div>

              <li class="eborder-top">
                <a href="#"><i class="icon_profile"></i> My Profile</a>
              </li>
              <li>
                
    
              </li>
            </ul>
          </li>
        </ul>
     
      </div>
    </header>

    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
          <li class="active">
            <a class="" href="index.html">
                <i class="icon_house_alt"></i>
                <span>Tableau de bord</span>
            </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" class="">
                <i class="icon_desktop"></i>
                <span>Administration</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
              <li><a class="" href="{{path('utilisateur_index')}}">Users</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" class="">
                <i class="icon_document_alt"></i>
                <span>Voyageur</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
             <li><a class="" href="{{path('monvoyage_index')}}">Mon Voyage</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" class="">
                <i class="icon_desktop"></i>
                <span>Abonnements</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
              <li><a class="" href="buttons.html">Paiements</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </aside>
   
    <section id="main-content">
      <section class="wrapper">
        {% block body %}{% endblock %}
      </section>
    </section>
       

  <script src="{{asset('js/jquery.js')}}"></script>
  <script src="{{asset('js/jquery-ui-1.10.4.min.js')}}"></script>
  <script src="{{asset('js/jquery-1.8.3.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('js/jquery-ui-1.9.2.custom.min.js')}}"></script>
  <!-- bootstrap -->
  <script src="{{asset('js/bootstrap.min.js')}}"></script>
  <!-- nice scroll -->
  <script src="{{asset('js/jquery.scrollTo.min.js')}}"></script>
  <script src="{{asset('js/jquery.nicescroll.js')}}" type="text/javascript"></script>


  <script src="{{asset('assets/jquery-knob/js/jquery.knob.js')}}"></script>
  <script src="{{asset('js/jquery.sparkline.js')}}" type="text/javascript"></script>
  <script src="{{asset('assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js')}}"></script>
  <script src="{{asset('js/owl.carousel.js')}}"></script>
  <!-- jQuery full calendar -->
  <script src="{{asset('js/fullcalendar.min.js')}}"></script>
    <!-- Full Google Calendar - Calendar -->
    <script src="{{asset('assets/fullcalendar/fullcalendar/fullcalendar.js')}}"></script>
    <!--script for this page only-->
    <script src="{{asset('js/calendar-custom.js')}}"></script>
    <script src="{{asset('js/jquery.rateit.min.js')}}"></script>
    <!-- custom select -->
    <script src="{{asset('js/jquery.customSelect.min.js')}}"></script>
    <script src="{{asset('assets/chart-master/Chart.js')}}"></script>

    <!--custome script for all page-->
    <script src="{{asset('js/scripts.js')}}"></script>
    <!-- custom script for this page-->
    <script src="{{asset('js/sparkline-chart.js')}}"></script>
    <script src="{{asset('js/easy-pie-chart.js')}}"></script>
    <script src="{{asset('js/jquery-jvectormap-1.2.2.min.js')}}"></script>
    <script src="{{asset('js/jquery-jvectormap-world-mill-en.js')}}"></script>
    <script src="{{asset('js/xcharts.min.js')}}"></script>
    <script src="{{asset('js/jquery.autosize.min.js')}}"></script>
    <script src="{{asset('js/jquery.placeholder.min.js')}}"></script>
    <script src="{{asset('js/gdp-data.js')}}"></script>
    <script src="{{asset('js/morris.min.js')}}"></script>
    <script src="{{asset('js/sparklines.js')}}"></script>
    <script src="{{asset('js/charts.js')}}"></script>
    <script src="{{asset('js/jquery.slimscroll.min.js')}}"></script>


    {% block javascripts %}{% endblock %}
       

    
    </body>
</html>



